spring:
  r2dbc:
    url: r2dbc:mariadb://localhost:3306/shop
    username: shop
    password: shop
    pool:
      enabled: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.sql
    url: jdbc:mariadb://localhost:3306/shop
    user: shop
    password: shop
    driver-class-name: org.mariadb.jdbc.Driver

management:
  endpoints:
    web:
      exposure:
        include: "health,info"
  endpoint:
    health:
      probes:
        enabled: true
      group:
        readiness:
          include: "r2dbc"
        liveness:
          include: "ping"

logging:
  level:
    org.springframework.r2dbc: warn
